*.DS_Store
*.pyc
*.pyo
*.swp
dist/
/odop/odop_obs/metric_database/*.csv
/odop/odop_obs/metric_database/*.json
/odop/odop_obs/logs/*.txt
venv
.venv
__pycache__/
.tox/

docs/_build/
.python-version
examples/MHD/output-slices/ 
examples/MHD/slice-rendered/
heat_equation-bin
heat_equation/solver/Makefile

a.out
*.o
*.d
*.so
*.a
*.make
*.mark
*.ts
CMakeFiles
CMakeCache.txt
install_manifest.txt
*.cmake

.vscode/